RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} ^.*(Baiduspider|AhrefsBot|SemrushBot|MegaIndex.ru/2.0|DataForSeoBot/1.0|LinkpadBot/2.4|HonoluluBot).*$ [NC]
RewriteRule .* - [F,L]
AddDefaultCharset UTF-8
#DirectoryIndex index.php
#ErrorDocument 404 /404.php
Options All -Indexes
RewriteEngine On
RewriteRule ^sitemap.xml$ sitemap.php [L,QSA]
RewriteRule ^rss.xml$ rss.php [L,QSA]
RewriteRule ^rss$ rss.php [L,QSA]
RewriteRule ^feed$ rss.php [L,QSA]
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
#Правила без роутинга
#RewriteRule (\w+\-[A-Za-z0-9-]+)$ category.php?categoru=$1
#RewriteRule (\w+\S\b\-[A-Za-z0-9-]+)$ post.php?url=$1